SetEnv PHP_VER 5

ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
#	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /~greg/bilboplanet/
	RewriteRule ^feed/(.*)$ feed.php?type=$1
	RewriteRule ^([post][tribe][user])/(.*)$ index.php?page=$1&action=$2
#	RewriteRule ^post/view/(.*)$  index.php?page=post&action=view&id=$1
#	RewriteRule ^tribe/view/(.*)$  index.php?page=tribe&action=view&id=$1
#	RewriteRule ^contact/(.*)$  index.php?page=contact&$1
#	RewriteRule ^subscribe/(.*)$  index.php?page=subscribe&$1
</IfModule>


# Forcer l'encodage en UTF8 pour les personnes n'ayant pas accès à la configuration apache
# AddDefaultCharset UTF-8
