SetEnv PHP_VER 5

ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
#	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /
	RewriteRule ^feed/(.*)$ feed.php?type=$1
	RewriteRule ^post/(.*)$  index.php?post_id=$1
	RewriteRule ^rss10.php$  feed.php?type=rss
	RewriteRule ^atom10.php$  feed.php?type=atom
</IfModule>



# Forcer l'encodage en UTF8 pour les personnes n'ayant pas accès à la configuration apache
# AddDefaultCharset UTF-8
