li.user-post {
	margin: 7px 0;
	list-style: none;
}
div.user-post-list li.disabled {
	background-color : #bababa;
	color: #ededed;
}
li.user-post span.tag-line {
	margin-left: 60px;
}
div#main-body .dashbox {
	padding: 20px;
	border: 1px solid #111;
	border-radius: 5px;
}
table.boxy-wrapper {
	width: 500px;
}

/******************************
 * Les formulaires
 * ****************************/
form.user {
	padding: 20px;
	border: 1px solid #111;
	border-radius: 5px;
}
form.user input,form.user select,form.user textarea {
    /*déjà en inline-block*/
    width: 250px;
    padding: 4px;
 /*   vertical-align: top;*/
	border: 1px solid #aaa;
	background: #f2f2f2;

	border-radius: 0px;
}
form.user textarea {
    width: 450px;
    height: 15em;
}
form.user label {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
   /* vertical-align: bottom;*/
    text-align: right;
}
form.user label.textarea {
	vertical-align: top;
}
form.user input#apply {
	width: 100px;
}
form.user span.description {
	margin-left: 120px;
}

form.user div.button {
	padding: 5px;
	background-color: #D2D6CB;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
}
div#shaarli-details {
	margin-left: 50px;
	border: 1px solid #999;
	padding: 5px;
}
p#shaarli-local-instance {
	display:block;
	width: 300px;
	margin-left:150px;
	text-align: right;
}
