body
{
	margin:0px;
	font-size:12px;
	font-family:Arial,'Trebuchet MS',Verdana,sans-serif;
	background-color:#d7d7d7;
	background-image:url("../images/background.png");
	background-repeat:repeat-x;
	background-position:top;
}

h4
{
font-size:15px;
}

#tour
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
}

fieldset
{
margin:0px;
border:0px;
padding:0px;
}

#global
{
padding-left:25px;
}

/******************************/
/**           NOUVELLES      **/
/******************************/
#nouvelles{
position:relative;
width:162px;
padding-left:5px;
}
#nouvelles_head{
background-image:url('../images/nouvelles_head.png');
height:33px;
width:162px;
}
#nouvelles_center{
background-image:url(../images/nouvelles_center.png);
background-repeat:repeat-y;
font-size:10px;
padding-bottom:13px;
padding-left:17px;
padding-right:21px;
text-align:left;
width:123px;
}
#nouvelles_footer{
background-image:url('../images/nouvelles_footer.png');
background-repeat:no-repeat;
height:15px;
width:162px;
}
/* MENU */
#menu
{
position:relative;
z-index:999;
float:left;
width:974px;
height:33px;
margin:0;
padding:0;
}
#menu li
{
position:relative;
z-index:999;
display:block;
padding:0px;
height:33px;
float:left;
list-style:none;
}
#menu li:hover
{
background-image:url('../images/menu_hover.png');
}
#menu li:hover a
{
color:#000;
}
#menu li.firstLi
{
border-left:none;
}
#menu li.preLastLi
{
}
#menu li.lastLi
{
float:right;
border-left:none;
margin-right:175px;
}
#menu li.lastLi:hover
{
background-image:none;
}
#menu li.lastLi form
{
float:left;
padding:0;
}
#menu li a
{
color:#191919;
font-weight:bold;
line-height:33px;
position:relative;
text-decoration:none;
}
#menu li ul{
display:none;
position:absolute;
z-index:999;
margin:0;
padding:0;
top:33px;
left:0;
width:200px;
}
#menu li:hover ul{
display:block;
}
#menu li ul li{
position:relative;
z-index:999;
border:none;
width:100%;
margin:0;
padding:0;
height:24px;
text-align:left;
background:url('../images/sub_menu_main.png') repeat transparent;
border-bottom:1px solid #000000;
}
#menu li ul li:hover{
background:url('../images/sub_menu_hover.png') repeat transparent;
}
#menu li ul li a{
line-height:24px;
color:#FFFFFF;
padding:0 0 0 25px;
}
/* COLONNE */
#colonne h2{
margin-left:10px;
width:80%;
font-size:16px;
}
#colonne li {
/*list-style-type:none;*/
margin-left:0px;
}
#colonne ul {
padding-left:14px;
list-style:none;
}
#colonne img {
border:0px;
}
#colonne a {
text-decoration:none;
color:#30312c;
font-size:11px;
}
#colonne a:hover {
text-decoration:none;
color:#000;
text-decoration:underline;
}

#colonne ul li img
{
margin-right:3px;
}
#colonne
{
position:relative;
float:right;
width:180px;
padding:5px;
}

#surligne_le_mot
{
background-color:#FA7402;
color:#fff;
padding-left:2px;
padding-right:2px;
}

#retour_top
{
position:absolute;
right:10px;
}
#retour_top img
{
border:0px;
}

.a_header,.a_logout {
position:relative;
float:left;
line-height:33px;
padding-left:15px;
padding-right:15px;
text-decoration:none;
font-weight:bold;
color:#393f4d;
}
.a_header:hover {
color:#fff;
background:url("../images/bg-li.png");
}
#search_form{
position:relative;
float:right;
padding-right:25px;
margin-top:3px;
}
#search_text {
position:relative;
float:left;
width:174px;
height:17px;
border:0px;
margin-top:3px;
padding-top:3px;
padding-left:20px;
background-image:url('../images/input_recherche.png');
background-repeat:no-repeat;
background-color:transparent;
font-size:11px;
color:#181C25;
}
#recherche_global_btn{
position:relative;
float:left;
height:19px;
border:0px;
top:6px;
left:10px;
background:transparent url('../images/btn_recherche.png') no-repeat top left;
width:16px;
cursor:pointer;
}
/* TOP 10 */
#top_10{
position:relative;
float:left;
border:1px solid #D7D7D7;/*#888;*/
width:710px;
height:206px;
padding-left:30px;
margin-left:14px;
padding-bottom:10px;
margin-top:10px;
background-image:url("../images/top_10_bg.png");
background-repeat:repeat-x;
background-position:top;
}
#top_10 a{
display:block;
text-decoration:none;
color:#4b4b4b;
font-size:12px;
width:687px;
display:block;
}
#top_10 a:hover{
text-decoration:underline;
color:#000;
/*background-color:#31322D;
color:#fff;
padding-left:4px;*/
}
#top_10 h3{
color:#4b4b4b;
font-size:14px;
margin-bottom:0px;
}
.post{
position:relative;
float:left;
padding-top:50px;
padding-bottom:50px;
padding-left:25px;
color:#213051;
}
#tri_top_10{
padding-bottom:2px;
padding-left:20px;
}
#tri_top_10 img{
border:none;
}
#tri_top_10 a{
display:inline;
}
#tri_top_10 a:hover{
background-color:transparent;
color:#000;
}
/* STATS */
table,tr,td{
text-align:left;
}
/* TEMPLATE(page_structure) */
#template{
padding-left:17px;
padding-right:15px;
}
.post_small{
position:relative;
float:left;
padding-right:25px;
}

.post_small h2
{
margin-bottom:0;
padding:0;
font-family:georgia,Arial,'Trebuchet MS',Verdana,sans-serif;
font-style:italic;
}

.post_small p
{
margin:0;
padding:0;
}

#template a{
display:inline;
padding-left:0px;
color:#222;
}
#template a:hover{
color:#000;
text-decoration:none;
}
#archive_page a{
display:block;
text-decoration:none;

}
#archive_page a:hover{
text-decoration:underline;
}
/* TRI */
.tri{
position:relative;
float:left;
width:700px;
padding-top:10px;
padding-left:15px;
text-align:justify;
}
div.tri a{
color:#31322d;
text-decoration:none;
padding:3px;
}
div.tri a:hover {
background-color:#31322D;
color:#FFFFFF;
padding:3px;
}
.tri span#triSelected a{
	background-color:#31322d;
	color:#fff;
	padding:3px;
}
/* ARTICLE */
.navigation{
position:relative;
float:left;
width:100%;
padding:10px;
}
.page_prc, .page_svt{
text-decoration:none;
color:#787878;
}
.page_prc{
position:relative;
float:left;
padding-left:20px;
}
.page_svt{
position:relative;
float:right;
padding-right:20px;
}
#protection_hack{
position:relative;
float:left;
width:100%;
height:40px;
}
.article{
position:relative;
float:left;
width:742px;
padding-top:10px;
padding-left:15px;
padding-bottom:10px;
}
div.article pre {
display:block;
border:1px solid #e1e1e1;
padding:5px;
padding-left:8px;
background-color:#e6e6e6;
overflow:auto;
}
div.article code {
font-family:monospace;
font-size:11px;
}
.contenu_article td {
width:auto;
}
div.article a{
color:#000;
text-decoration:none;
}
div.article a:hover{
color:#000;
text-decoration:underline;;
}
div.article div.nom_article a{
font-weight:bold;
font-family:georgia,Arial,'Trebuchet MS',Verdana,sans-serif;
font-style:italic;
font-size:18px;
}
h2
{
font-family:georgia,Arial,'Trebuchet MS',Verdana,sans-serif;
font-style:italic;
font-size:18px;
}
div.article div.nom_article a:hover
{
text-decoration:underline;
}
div.article div.avatar_article a:hover
{
background:0;
padding:0;
text-decoration:none;
}
.separ_article_top{
border-top:1px solid #e8e4e4;
height:1px;
padding-bottom:10px;
}
.separ_article_bottom{
border-top:1px solid #e8e4e4;
height:1px;
}
.avatar_article{
position:relative;
float:left;
width:41px;
height:41px;
padding:2px;
margin-right:2px;
}
.avatar_article img{
border:0px;
}
.nom_article{
color:#3d689c;
font-size:16px;
width:700px;
}
.complement_article{
color:#969696;
padding-top:5px;
padding-bottom:5px;
}
.contenu_article{
color:#222;
padding-bottom:10px;
}
.retour_sommaire{
color:#c3c3c3;
text-decoration:none;
display:block;
text-align:center;
font-size:11px;
font-weight:bold;
}
a.retour_sommaire a{
color:#6e8eb5;
text-decoration:none;
}
a.retour_sommaire a:hover {
color:#6e8eb5;
text-decoration:none;
}
.highlight {
background:#FF6 none repeat scroll 0 0;
}
#bug {
position:absolute;
float:left;
display:block;
background:url('../images/firebug.png') no-repeat;
height:70px;
width:50px;
}
.votes {
display:block;
float:right;
margin-top:-10px;
width:42px;
}
.vote span#imgoui {
display:block;
background:url('../images/oui.png') no-repeat;
height:18px;
width:18px;
float:left;
}
.vote span#imgnon {
float:right;
display:block;
background:url('../images/warn.png') no-repeat;
height:18px;
width:18px;
}
.avote span#imgoui {
display:block;
background:url('../images/oui-light.png') no-repeat;
height:18px;
width:18px;
float:left;
}
.avote span#imgnon {
float:right;
display:block;
background:url('../images/warn-light.png') no-repeat;
height:18px;
width:18px;
}

blockquote
{
padding:0;
margin:0;
padding:10px;
font-style:italic;
background:#e3e3e3;
}
/* FORMS */
body div#centre input
{
border:1px solid #e0e0e0!important;
margin-top:10px!important;
padding:2px!important;
}
body div#centre textarea
{
border:1px solid #E0E0E0 !important;
font-size:12px;
height:277px;
margin-top:10px !important;
padding:2px !important;
width:700px;
font-family:arial,verdana,sans-serif;
}
tr.table_th
{
background:#D7D7D7;
height:20px;
}
tr.table_th th
{
padding-left:30px;
padding-right:30px;
border-top:1px solid #9d9d9d;
}
table td
{
width:241px;
border-bottom:1px solid #D7D7D7;
padding-left:15px;
}
table tr
{
border-bottom:1px solid #D7D7D7;
}
h2#abonnements,h2#membres,h2#participer
{
padding-left:20px;
background-position:left;
background-repeat:no-repeat;
border-bottom:1px solid #BDBDBD;
margin-top:20px;
width:128px;
}
h2#abonnements
{
background-image:url("../images/abonnements.png");
}
h2#membres
{
background-image:url("../images/membres.png");
}
h2#participer
{
background-image:url("../images/participer.png");
}
div.post_small tr td
{
border:0;
}
div.search
{
font-style:italic;
margin-left:15px;
margin-top:40px;
width:300px;
}
span.search
{
font-weight:bold;
color: #FF0000;
}
span.search_content
{
font-weight:bold;
color: #FF0000;
}
span.search_title
{
font-weight:bold;
color: #FF0000;
}
span.relevance
{
font-size:10px;
left:0;
margin-left:20px;
position:absolute;
right:30px;
top:-8px;
}
div.contenu_article a
{
color:#ae3324;
}
div.contenu_article a:hover
{
color:#ae3324;
}
h2#informations_title
{
margin-left:27px;
padding-top:8px;
}
#colonne h2
{
font-size:13px;
height:17px;
}
div.flashnotice
{
background:green none repeat scroll 0 0;
border:1px solid #204000;
color:#FFFFFF;
font-size:20px;
margin:16px;
padding:5px 5px 5px 10px;
}
div.flasherror
{
background:red none repeat scroll 0 0;
border:1px solid #C00000;
color:#FFFFFF;
font-size:20px;
margin:16px;
padding:5px 5px 5px 10px;
}
div.informations
{
margin-right:16px;
margin-left:16px;
background:#fbbb32;
border:1px solid #ca8f10;
color:#2b1d00;
padding:5px 5px 5px 10px;
padding-top:0;
padding-bottom:8px;
}
div#template div.informations,div#template div.flasherror, div#template div.flashnotice
{
margin-right:0;
margin-left:0;
width:720px;
}
div.post_small h2
{
margin-bottom:11px;
}
/* CONTENT */
#centre
{
position:relative;
float:left;
width:974px;
}
#body
{
position:relative;
float:left;
width:767px;
background:#fdfdfd;
padding:5px 9px 5px 5px;
border-right:1px solid #afafaf;
border-top:1px solid #afafaf;
border-left:1px solid #afafaf;
margin-top:17px;
-moz-box-shadow:0 4px 18px #999;
-webkit-box-shadow:0 4px 18px #999;
-khtml-box-shadow:0 4px 18px #999;
box-shadow:0 4px 18px #999;
}
/* HEADER */
#header
{
position:absolute;
width:974px;
}
#header #title
{
background-image:url(../images/logo.png);
background-position:right top;
background-repeat:no-repeat;
width:950px;
height:93px;
margin-top:15px;
}
#header #title a
{
color:#F2F2F2;
font-family:georgia,arial;
font-size:40px;
font-style:italic;
font-weight:bold;
text-decoration:none;
}
#header #description_title a
{
color:#F2F2F2;
font-size:18px;
padding:5px 20px 5px 11px;
text-align:center;
text-decoration:none;
}
/* IMAGES */
img
{
border:0px;
border-bottom:none;
}
img.gravatar
{
max-height:40px;
max-width:40px;
font-size:8px;
}
/* WordPress images */
img.alignright
{
float:right
margin-left:10px;
}
img.alignleft
{
float:left;
margin-right:10px;
}
img.aligncenter
{
margin-left:auto;
margin-right:auto;
display:block;
}
/* End WordPress images */
/* FOOTER*/
#footer
{
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-khmtl-border-radius-bottomleft:5px;
-khtml-border-radius-bottomright:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
background:none repeat scroll 0 0 #000000;
border-bottom:1px solid #AFAFAF;
border-left:1px solid #AFAFAF;
border-right:1px solid #AFAFAF;
float:left;
margin-bottom:25px;
padding-bottom:10px;
padding-left:20px;
padding-top:8px;
position:relative;
width:761px;
}
#footer a
{
color:#fff;
text-decoration:none;
font-size:11px;
margin-right:20px;
}

/********************************/
/**           PAGE STATUS      **/
/********************************/
#filter-status{
position:relative;
width:180px;
padding-left:21px;
font-size:11px;
padding-bottom:13px;
padding-right:21px;
text-align:left;
}
div.post_description div.tag-line {
    margin : 5px 5px;
}
span.tag {
	margin: 0px 5px;
    padding: 0px 6px 1px 6px;
	background: #edbe59;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
span.user {
	margin: 0px 5px;
    padding: 0px 6px 1px 6px;
	background: #78bf7b;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
div#filter-feed {
	background: url('../images/ico-feed.gif') no-repeat;
	padding-left : 25px;
	margin: 5px;
}
