/******************************/
/**           FOOTER         **/
/******************************/
#footer
{
background:#000000 none repeat scroll 0 0;
float:left;
margin-bottom:25px;
padding-bottom:10px;
padding-left:20px;
padding-top:8px;
position:relative;
width:761px;
border-left:1px solid #AFAFAF;
border-right:1px solid #AFAFAF;
border-bottom:1px solid #AFAFAF;
}
#footer a
{
color:#fff;
text-decoration:none;
font-size:13px;
margin-right:20px;
}
