html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
padding: 0;
margin: 0;
border: 0;
vertical-align: baseline
}




h1,h2		{ color: #111; margin-bottom: .75em; }

h1 				{ font-size: 24px; line-height: 1em; }
h2 				{ font-size: 20px; font-weight: normal; color: #222; margin-bottom: 1em }

p           	{ margin: 0 0 1.5em }
p.last      	{ margin-bottom: 0 }

a				{ color: #358; text-decoration: underline }
a:visited		{ color: #667 }
a:focus,
a:hover     	{ color: #933 }

a:active,
a:focus { outline: none !important; noFocusLine: expression(this.onFocus=this.blur()) }


/* -------------------------------------------------------------
BUTTON
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

button {
	position: relative;
	border: 0;
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}

button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

button span {
	position: relative;
	display: block;
	white-space: nowrap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}

/* OPTIONAL BUTTON STYLES for applying custom look and feel: */

button,
button span
{
	background: transparent url(../icons/button_sprite.png) no-repeat;
}

button,
button .btn-pri {
	padding: 0 15px 0 0;
	margin-right:5px;
	text-align: center;
	background-position: right -50px !important;
}

button span,
button .btn-pri span {
	font-family: arial, sans-serif;
	padding: 0 0 0 15px;
	height:30px;
	font-size:13px;
	line-height: 28px;
	font-weight: bold;
	font-style: italic;
	background-position: left top;
	color:#FFF;
}

button.btn-sec { background-position: right -150px !important; }

button.btn-sec span { background-position: left -100px !important; }




/* -------------------------------------------------------------
DEFAULT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body
{
	background-image:url('../icons/bg.png');
	background-repeat:repeat-x;
	background-color: #333333;
	padding: 0;
	margin: 0;
	font: 12px/1.7em arial, sans-serif;
}



/* -------------------------------------------------------------
PAGE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#page {	width: 960px; margin: 60px auto; position: relative; }

	.pad { width: 960px; margin: 0 auto; position: relative; }



/* -------------------------------------------------------------
BODY
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#body { width: 960px; margin: 0 auto 4.75em auto; position: relative; }




/* -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form { padding: 5px; margin: 10px; }
.form .field { width: 100%; }
.form .field_help { margin-left: 145px; font-size: 90%; color: #777; }
.form label,
.form span.label { margin-right: 10px; padding-right: 10px; width: 125px; display: block; float: left;  font-weight: bold; text-align: right; position: relative; }
.form label em,
.form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
.form input:focus,
.form input.error:focus,
.form textarea:focus {	background-color: #FFC; border-color: #FC6; }


.form .field { margin-bottom: 1.5em; }
.form .field input
{
	padding: 4px;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


/* -------------------------------------------------------------
MISC
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clear { clear: both; }

.hide { display: none; }




/* -------------------------------------------------------------
LOGIN
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#login { width: 600px; margin: 100px auto; text-align: center;  }

#login h1#title
{
	color:#FFFFFF;
	font:bold 34px arial;
	height:32px;
	margin:0 auto;
	width:230px;
	-moz-text-shadow: 2px 2px 0.8px #000000;
	-webkit-text-shadow: 2px 2px 0.8px #000000;
	-o-text-shadow: 2px 2px 0.8px #000000;
	text-shadow: 2px 2px 0.8px #000000;
	text-align:center;

}

	#login h1#title a { display: block; }

	#login h2#admin
	{
	color:#FFFFFF;
	font:16px arial;
	height:40px;
	margin:0 auto 0.9em;
	letter-spacing:6px;
	width:230px;
	-moz-text-shadow: 2px 2px 0.8px #000000;
	-webkit-text-shadow: 2px 2px 0.8px #000000;
	-o-text-shadow: 2px 2px 0.8px #000000;
	text-shadow: 2px 2px 0.8px #000000;
	text-align:center;

	}

	#login h2#admin a { display: block; }

#login-body
{
	background: #FFF;
	padding-bottom: 15px;
	border: 1px solid #ccc;
	padding: 0 0 10px 0;
	text-align: left;
	width: 100%;
	overflow: hidden;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow:1px 1px 12px #afafaf;
	-webkit-box-shadow:1px 1px 12px #afafaf;
	-o-box-shadow:1px 1px 12px #afafaf;
	box-shadow:1px 1px 12px #afafaf;
}


#login-body form { padding: 0 0 40px; position: relative; }

#login-body input#login_password { width: 170px; position: absolute; top: 4px; left: 5px; }


#login-body input.text
{
    width: 275px;
	font: bold 18px Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: -1px;
	vertical-align: bottom;
}


#login-body .field { width: 100%; position: relative; float: left; }

#login-body .pad { padding: 20px 20px 0 20px; }

#login-body label,
#login-body .label
{
	font-size: 12px;
    float: left;
    line-height: 15px;
    width: 150px;
    padding: 15px 10px 0 0;
	margin: 0;
	text-align: left;
	font-weight: bold;

}

#login-body .field div
{
     float: left;
     position: relative;
     width: 300px;
     padding: 0;
	 margin: 0;
 }

#login-body .field div span.input { text-align: right; line-height: 3em; font-size: 11px; padding-right: 10px !important; }

#login-body .checkbox input { float: none !important; display: inline !important;}
#login-body .checkbox label { float: none; display: inline; font-weight: normal; font-size: 11px; }

#login-body input,
#login-body select,
#login-body textarea
{
	margin: 0;
	padding: 5px;
	border: solid 1px #CCC;
	color: #444;
	background: #fff;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#login-body input[type=checkbox] { border: none; }

#login-body span.input,
#login-body  span.checkbox
{
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #EEE;
	padding: 5px;
	margin: 0 0 15px 0;
}

/* -------------------------------------------------------------
MESSAGES
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.error
{
	font:bold 14px Helvetica,Arial,Verdana,sans-serif;
	width:84%;
	margin:0.9em auto 0.4em;
	background: url(../icons/false.png) 8px no-repeat;
	background-color: #ffe3e3;
	border:1px solid #dd0000;
	color: #c42323;
	padding:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.err { padding-left:24px;}

.recover
{
	font:bold 14px Helvetica,Arial,Verdana,sans-serif;
	width:84%;
	margin:0.9em auto 0.4em;
	background: url(../icons/warn.png) 8px no-repeat;
	background-color: #FFEBC1;
	color: #A6750C;
	border:1px solid #FDBF3B;
	padding:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.recov { padding-left:24px;}

.messages
{
	font:bold 14px Helvetica,Arial,Verdana,sans-serif;
	width:84%;
	margin:0.9em auto 0.4em;
	border:1px solid #9fcf9f;
	background: url(../icons/true.png) 8px no-repeat;
	background-color: #dfffdf;
	color: #005f00;
	padding:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.mess {
	margin:2px 30px;
	display: block;
	width: 90%;
}


/* -------------------------------------------------------------
CHECKBOX & RADIO
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.clearcheckbox
{
	float:left;
	padding:0;
	padding-left:24px;
	margin:1px;
	width:400px;
}

/* Checkboxes */
label.checkbox_checked {
	background: #fff url(../icons/tick2.png) no-repeat;
	display: block;
	margin: 10px 0;
	padding:0;
	padding-left: 25px;
}
label.checkbox_unchecked  {
	background: #fff url(../icons/cross2.png) no-repeat;
	display: block;
	margin: 10px 0;
	padding:0;
	padding-left: 25px;
}

/* Radio Buttons */
label.radio_checked {
	background: #fff url(../icons/bullet_green.png) no-repeat;
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}
label.radio_unchecked  {
	background: #fff url(../icons/bullet_white.png) no-repeat;
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}


/* Hover State */
label:hover{
	color: #575B60;
}

label.highlighted {
	border: 1px solid #333;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* STOP EDITTING - DO NOT CHANGE OR REMOVE        */
.crirHidden {
	position: absolute;
	left: -1000px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

