/*
 Rezet des CSS
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size: 11px;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
small {font-size: 0.8em;}
a, label {cursor: pointer !important;} /* Oblige le pointer, car le framework enlève automatiquement les href */
/* Enlève l'encadrement dotted de FF lors du focus */
a:focus { outline: transparent none !important;}
input::-moz-focus-inner, button::-moz-focus-inner { border-color: transparent ! important; }
/*
 Admin
*/
.admin { overflow: hidden !important; line-height: 1.2em }
.admin a {text-decoration: underline;}
.admin .input {
	border-style:solid;
	border-width: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 3px 2px;
}
.admin .clear {
	display: block;
	height: 0px;
	margin: 0;
	padding: 0;
	border: none;
	clear: both;
}
.admin .button {
	display:-moz-inline-box;
	display:inline-block;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	text-decoration: none !important;
	font-size: 12px !important;
	white-space: nowrap;
	padding: 2px 10px;
	line-height: 18px;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	background:  url('../icons/white-grad.png') repeat-x scroll left top;
}
.admin .button span {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 25px;
}
.admin .button:active {
	background-image: url('../icons/white-grad-active.png');
}
.admin .minbutton {
	font-size: 10px !important;
	line-height: 10px;
	padding: 3px 10px;
}
.admin code { font: 13px Consolas, Monaco, Courier, monospace; }
/*
 Génériques
*/
.br3px {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.br6px {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.headbar {
	font-weight: bold;
	line-height: 23px;
	background-position: 0px 0px;
	background-repeat: repeat-x;
}
.toolbar {border-bottom-width: 1px;}
.toolbar .bdinbox {border-top-width: 1px;}
.message {
	border-style: solid;
	border-width: 1px;
	padding: 3px 5px;
}
.bdbox {border-style: solid;}
.bdinbox {border-style: solid;}
.grad {background: url('../icons/grey-grad.gif') repeat-x scroll left bottom;}
/*
 Barre de Header
*/
#BP_head {line-height: 30px;}
#BP_head .site_info {
	float: left;
	margin: 0px 5px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:20px;
	background-image: url('../icons/arrow.png');
}
#BP_head .site_info a {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}
#BP_head .site_info a:hover {text-decoration: underline;}
/*
 Barre utilisateur
*/
#BP_userbar {float: right;margin: 0px 5px;}
#BP_userbar li {float: left;margin: 0px 0px 0px 5px;}
/*
 Pannel de navigation
*/
#bp_pannel {
	float: left;
}
#bp_pannel h2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-left: 7px;
	cursor: pointer;
	text-shadow:1px 1px #000000;
}
#bp_pannel h2.selected {background-position:0% -43px;}
#bp_pannel .element {padding: 5px;}
#bp_pannel .message {margin: 5px 0px;}
#bp_pannel ul {padding-bottom: 7px;}
#bp_pannel li a {
	display: block;
	height: 22px;
	line-height: 22px;
	padding: 0px 0px 0px 25px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	font-size: 1.1em;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	white-space: nowrap;
	overflow: hidden;
}
#bp_pannel li a:hover {text-shadow:2px 2px 2px rgba(160, 160, 160, 0.5);}

/*
 * Icones du menu
 * */

div#bp_pannel a#dashboardm {
	background-image:url('../icons/television.png');
}
div#bp_pannel a#members {
	background-image:url('../icons/users.png');
}
div#bp_pannel a#feed {
	background-image:url('../icons/feed.png');
}
div#bp_pannel a#articles {
	background-image:url('../icons/blogs.png');
}
div#bp_pannel a#users {
	background-image:url('../icons/user-silhouette.png');
}
div#bp_pannel a#planet {
	background-image:url('../icons/globe.png');
}
div#bp_pannel a#logs {
	background-image:url('../icons/reports.png');
}
div#bp_pannel a#database {
	background-image:url('../icons/database.png');
}
div#bp_pannel a#cache {
	background-image:url('../icons/wooden-box.png');
}
div#bp_pannel a#config {
	background-image:url('../icons/update.png');
}

/*
 Bordure de séparation entre le pannel et la page
*/
#BP_separator {
	float: left;
	width: 7px;
	border-left-width: 1px;
	border-right-width: 1px;
	cursor: pointer;
}
#BP_separator div {
	height: 600px;
	border-left-width: 1px;
	border-right-width: 1px;
}
/*
 Mise en page
*/
#BP_page {
	height: 600px;
	overflow: auto;
}
#BP_page .inpage {
	padding: 5px;
}
#BP_page .message {
	margin: 5px 0px;
	line-height: 14px;
}
#BP_page .message p {
	margin: 2px 0px;
}
#BP_page fieldset {
	margin: 0px 4px 7px 4px;
	padding: 0px 6px 6px 6px;
	border-style: solid;
	border-width: 1px;
}
#BP_page fieldset legend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	padding: 0px 5px;
	text-shadow:1px 1px 1px rgba(160, 160, 160, 0.5);
}

/*
Le WYSIWYG
*/
#BP_page .wysiwyg {
	margin:0 0 -2px;
	background-color: #d6d6d6;
	border-color:#BEBEBE;
	color: #222;
	border-style: solid;
	border-width: 1px;
	width: 99.5%;
	line-height: 0px;
	display:block;
	padding: 3px 2px;
}
	
#BP_page .editor {
font-family: verdana, arial, sans-serif;
font-size:13px;
padding: 5px;
background: #d5e8f9;
border: 1px solid #e5ecf9;
}
#BP_page .buttoned {
margin: 1px;
padding: 2px;
}
#BP_page .buttoned:hover {
opacity:.60;
filter: alpha(opacity=60); 
-moz-opacity: .60;
}
#BP_page .ed {
width: 400px;
height: 150px;
}
/*
 * Tableaux
 */
table {
	width: 100%;
	border-spacing: 0px;
}
/* Tableaux Articles */
.table-membre .input, .table-log .input, .table-mysql .input, .table-options .input, .table-flux .input, .table-flux-add .input, .table-news .input, .table-news-filter .input {
	font-size: 11px !important;
	line-height: 10px;
	padding: 3px 10px;
}
/* Tableau options */
.table-options td, .table-options th {
	text-align: left;
	padding: 4px;
	white-space: normal;
	vertical-align: top;
	border-style: solid;
	border-bottom-width: 3px;
	border-top-width: 3px;
}
.table-options td p {
	display: block;
	padding: 1px;
}
.table-options th {
	width: 250px;
	font-weight: bold;
	text-align: right;
	padding-right: 6px;
}
.table-options td.hidden {
	padding: 0px;
}
/* Tableau Logs */
.table-log {border-width: 1px;border-style: solid;width:400px;border-color: #000;background-color: #eee;}
.table-log .tc1 {width:280px;}
.table-log .tc2 {width:120px;}
.table-log td, .table-log th {
	text-align: left;
	padding: 0px 4px;
	vertical-align: middle;
	border: none;
	line-height: 22px;
}
.table-log th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-position: 0px -1px;
	background-repeat: repeat-x;
	font-weight: bold;
	white-space: nowrap;
	border-color: #000;
}
.table-log td {
	padding: 2px 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	background-color:#ffffff;
}
.table-log .tcr {border-right-width: 0px;}

/* Tableau Mysql */
.table-mysql {border-width: 1px;border-style: solid;width:400px;border-color: #000;background-color: #eee;}
.table-mysql .tc1 {width:280px;}
.table-mysql .tc2 {width:120px;}
.table-mysql-600px {width:600px;}
.table-mysql .tc3 {width:400px;}
.table-mysql .tc4 {width:200px;}
.table-mysql td, .table-mysql th {
	text-align: left;
	padding: 0px 4px;
	vertical-align: middle;
	border: none;
	line-height: 22px;
}
.table-mysql th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-position: 0px -1px;
	background-repeat: repeat-x;
	font-weight: bold;
	white-space: nowrap;
	border-color: #000;
}
.table-mysql td {
	padding: 2px 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	background-color:#ffffff;
}
.table-mysql .tcr {border-right-width: 0px;}

/* Tableau Membres */
.table-membre {border-width: 1px;border-style: solid;border-color: #000;background-color: #eee;}
.table-membre .tc1 {width:100px;}
.table-membre .tc2 {}
.table-membre .tc3 {width:100px;}
.table-membre .tc4 {text-align: center;width: 40px;}
.table-membre .tc5 {text-align: center;width: 210px;}
.table-membre td, .table-membre th {
	text-align: left;
	padding: 0px 4px;
	vertical-align: middle;
	border: none;
	line-height: 22px;
}
.table-membre th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-position: 0px -1px;
	background-repeat: repeat-x;
	font-weight: bold;
	white-space: nowrap;
	border-color: #000;
}
.table-membre td {
	padding: 2px 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	background-color:#ffffff;
}
.table-membre .tcl { }
.table-membre .tcr {
	border-right-width: 0px;
}

/* Tableau Flux */
.table-flux-add {border-width: 1px;border-style: solid;width:450px;border-color: #000;background-color: #eee;}
.table-flux-add .tc1 {width:350px;}
.table-flux-add .tc2 {width:100px;}
.table-flux-add td, .table-flux-add th {
	text-align: left;
	padding: 0px 4px;
	vertical-align: middle;
	border: none;
	line-height: 22px;
}
.table-flux-add th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-position: 0px -1px;
	background-repeat: repeat-x;
	font-weight: bold;
	white-space: nowrap;
	border-color: #000;
}
.table-flux-add td {
	padding: 2px 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	background-color:#ffffff;
}
.table-flux-add .tcl { }
.table-flux-add .tcr {
	border-right-width: 0px;
}
.table-flux {border-width: 1px;border-style: solid;border-color: #000;background-color: #eee;}
.table-flux .tc1 {width:100px;}
.table-flux .tc2 {}
.table-flux .tc3 {width:40px;text-align:center; }
.table-flux .tc4 {text-align: center;width: 210px;}
.table-flux td, .table-flux th {
	text-align: left;
	padding: 0px 4px;
	vertical-align: middle;
	border: none;
	line-height: 22px;
}
.table-flux th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-position: 0px -1px;
	background-repeat: repeat-x;
	font-weight: bold;
	white-space: nowrap;
	border-color: #000;
}
.table-flux td {
	padding: 2px 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	background-color:#ffffff;
}
.table-flux .tcl { }
.table-flux .tcr {
	border-right-width: 0px;
}

/* Tableau News */
.table-news-filter {border-width: 1px;border-style: solid;width:360px;border-color: #000;background-color: #eee;}
.table-news-filter .tc1 {width:100%;}
.table-news-filter .tc2 {width:150px;text-align:center;}
.table-news-filter td, .table-news-filter th {
	text-align: left;
	padding: 0px 4px;
	vertical-align: middle;
	border: none;
	line-height: 22px;
}
.table-news-filter th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-position: 0px -1px;
	background-repeat: repeat-x;
	font-weight: bold;
	white-space: nowrap;
	border-color: #000;
}
.table-news-filter td {
	padding: 2px 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	background-color:#ffffff;
}
.table-news-filter .tcl { }
.table-news-filter .tcr {border-right-width: 0px;}
.table-news {border-width: 1px;border-style: solid;border-color: #000;background-color: #eee;width:100%}
.table-news .tc1 {width:10%;}
.table-news .tc2 {width:120px;text-align:center;}
.table-news .tc3 {width:80%px;padding-left:10px;}
.table-news .tc4 {width:100px;text-align:center;}
.table-news .tc5 {width:20px;text-align:center;}
.table-news .tc6 {width:210px;text-align:center;}
.table-news td, .table-news th {
	text-align: left;
	padding: 0px 4px;
	vertical-align: middle;
	border: none;
	line-height: 22px;
}
.table-news th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-position: 0px -1px;
	background-repeat: repeat-x;
	font-weight: bold;
	white-space: nowrap;
	border-color: #000;
}
.table-news td {
	padding: 2px 3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	background-color:#ffffff;
}
.table-news .tcl { }
.table-news .tcr {border-right-width: 0px;}

/*
 Bulle d'information au survol
*/
.tooltip {
	z-index: 99;
	width: 300px;
	overflow: hidden;
	line-height: 1.4em;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.tooltip .tip-title { padding: 5px; font-weight: bold;}
.tooltip .tip-text { padding: 5px 5px 5px 5px;padding-left:10px; }

/*
 ACP Box
*/
.acp-overlay {
	background-color: #000;
}
.acp {
	position: absolute;
	top: 200px;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	overflow: hidden;
	border:1px solid #666;
	background-color: #fff;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.acp .acp-form {margin-top: 5px;text-align: center;}
.acp .acp-form .input {width: 250px;}
.acp .acp-buttons {margin: 5px 0px;text-align: center;}
.acp .acp-text {padding: 5px;}
.acp .acp-title {
	font-size: 1.2em;
	font-weight: bold;
	border-bottom-width: 1px;
	padding: 5px;
	white-space: nowrap;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bebebe;
	background: url('../icons/grey-grad.gif') repeat-x scroll left bottom;
}
.acp .acp-title span {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.acp .button {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 10px !important;
	padding: 2px 0px;
	margin: 0px 3px;
	text-align: center;
	width: 70px;
	cursor: pointer;
	overflow: hidden;
}
/*
 Couleurs générales
*/
body, #BP_page, #bp_pannel, #BP_page {
	background-color: #fff;
	color: #222;
}

.admin a { color: #6b7b95; }

.admin a:hover, .ctitle, .ctitle a, .menu li a:hover span, .admin .button:hover, .admin .button:focus, .admin .input:focus, #bp_pannel li a:hover, #BP_page fieldset legend { color: #ce1717; }

#bp_pannel li a:hover, .admin .button:hover, .admin .button:focus, .admin .input:focus, .admin .input:hover {
	border-color:#ce1717;
}
.admin .button, .admin .input {
	border-color: #bebebe;
	color: #464646;
	background-color: #fff;
}
#BP_page .input:focus, .acp .input:focus { color: #000; }
.headbar, .table-membre th, .table-log th, .table-flux th, .table-flux-add th, .table-news th, .table-news-filter th, .table-mysql th {
	background-color: #000;
	background-image: url('../icons/headbar.jpg');
	color: #fff;
}
.bdheadbar { border-color: #000; }

.message {
	background-color: #FFE4AB;
	border-color:#FFAB00;
	color: #222;
}

.bgbox, .bginbox { background-color: #eee; }
.bdbox, #BP_page fieldset { border-color: #bebebe; }
.bdinbox, #BP_page .table-options td, #BP_page .table-options th { border-color: #fff; }

.menu li a span { color: #222; }
.menu .selected a span, .menu .selected a:hover span, #BP_page .table-results th a { color: #fff; }
.menu .selected a span, .menu .selected a:hover span, #BP_page .table-log th a { color: #fff; }

#bp_pannel li a { border-color: #fff; }

.tooltip {background-color: #000;color: #fff;}
/*
 Les icones
*/
#BP_page .button .add_user { background: url('../icons/user__plus.png') no-repeat; padding-left:20px; }
#BP_page .button .reset { background: url('../icons/slash.png') no-repeat; padding-left:20px; }
#BP_page .button .valide { background: url('../icons/tick.png') no-repeat; padding-left:20px; ; }
#BP_page .button .notvalide { background: url('../icons/cross.png') no-repeat; padding-left:20px; ; }
#BP_page .button .save { background: url('../icons/disk.png') no-repeat; padding-left:20px; ; }

.acp .about { background-image: url('../icons/about.png');}
.acp .logout { background-image: url('../icons/door_open_in.png');}

/*
 Flash & error messages 
 */
#errorExplanation, div.flash, .nodata, .warning {
    padding:5px 8px 5px 30px;
    margin-bottom: 20px;
	font-size: 1.1em;
	border: 1px solid;
}
div.flash {
	margin-top: 8px;
	margin-left: 5px;
	width:95%;
}
div.flash.error, #errorExplanation {
    background: url(../icons/false.png) 8px no-repeat;
	background-color: #ffe3e3;
	border-color: #dd0000;
	color: #550000;
}
div.flash.notice {
    background: url(../icons/true.png) 8px no-repeat;
	background-color: #dfffdf;
	border-color: #9fcf9f;
	color: #005f00;
}
div.flash.warning {
	background: url(../icons/warn.png) 8px no-repeat;
	background-color: #FFEBC1;
	border-color: #FDBF3B;
	color: #A6750C;
	text-align: left;
	width:98%;
}
#errorExplanation ul {font-size: 1.0em;}
/* 
 * DashBoard
 */
#dashboard {width: 99%;padding: 10px;}
#dashboard ul li{
display: block;
height: 18px;
line-height: 22px;
padding: 0px 0px 0px 25px;
background-position: 3px 3px;
background-repeat: no-repeat;
font-size: 1.1em;
text-decoration: none;
white-space: nowrap;
overflow: hidden;
}
.box-dashboard {
width:90%;
border-style: solid;
border-right: solid 1px #000;
border-bottom: solid 1px #000;
border-left: solid 1px #000;
display: block;
margin: 10px;
padding: 0px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.box-container-right {
	float : right;
	width : 50%
}
.box-container-left {
	float : left;
	width : 50%;
}
.box-dashboard ul {
padding:5px 5px 5px 5px;
}
.top-box-dashboard {
font-size: 1.1em;
font-weight: bold;
background-color:#000000;
background-image:url(../icons/headbar.jpg);
color:#FFFFFF;
background-position: 0px 0px;
background-repeat: repeat-x;
padding:5px 5px 5px 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-khtml-border-radius-topleft: 5px;
-khtml-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-radius: 5px;
}
/*
Membres
*/
.inactif {color: #cc0033;}
.actif {color: #000;}
/*
 * Pagination
 */

.nbitems {
line-height:1.2em;
font-size:1.0em;
text-align: center;
margin-top: 5px;
}
.page_prc, .page_svt{
padding-top:5px;
text-decoration:none;
color:#787878;
}
.page_prc{
position:relative;
float:left;
padding-left:10px;
}
.page_svt{
position:relative;
float:right;
padding-right:10px;
}

hr {
color:#ffffff;
border-top:1px dashed #222222;
width:90%;
}

/*
 * Options
 */
textarea.cadre_option{
width:99.5%;
border: 1px solid #BEBEBE;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
padding: 3px 2px;
font-size: 10px !important;
color:#464646;
}
textarea.cadre_option:focus{
border:1px solid #ce1717
}
.cadre_option_350px {
width:350px;
}

.import_style {
border: 1px solid #000;
border-top-width: 5px;
display:inline-block;
font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
font-size:12px !important;
padding:2px 10px;
text-decoration:none !important;
}
/*
 * User
 */
textarea.cadre_about{
width:500px;
border: 1px solid #BEBEBE;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
padding: 3px 2px;
font-size: 10px !important;
color:#464646;
}
textarea.cadre_about:focus{
border:1px solid #ce1717
}
/*
 * Update
 */
#BP_startupdate {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/tick.png);
background-repeat: no-repeat;
font-weight: bold;
}
#BP_stopupdate {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/cross.png);
background-repeat: no-repeat;
font-weight: bold;
}
#BP_disableupdate {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/slash.png);
background-repeat: no-repeat;
font-weight: bold;
}
/*
 * Dashboard
 */
#BP_stats_db {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/database.png);
background-repeat: no-repeat;
}
#BP_nb_articles {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/news.png);
background-repeat: no-repeat;
}
#BP_nb_votes {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/vote.png);
background-repeat: no-repeat;
}
#BP_nb_members {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/user-silhouette.png);
background-repeat: no-repeat;
}
#BP_nb_feeds {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/feed2.png);
background-repeat: no-repeat;
}
/*
 * Dashboard System info
 */
#BP_system_date {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/calendar.png);
background-repeat: no-repeat;
}
#BP_system_os {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/os.png);
background-repeat: no-repeat;
}
#BP_system_php {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/php.png);
background-repeat: no-repeat;
}
#BP_system_mysql {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/database.png);
background-repeat: no-repeat;
}
#BP_system_apache {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/apache.png);
background-repeat: no-repeat;
}
#BP_system_memory {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/memory.png);
background-repeat: no-repeat;
}
#BP_system_bilboplanet {
margin-left:5px;
padding-bottom:8px;
padding-left:25px;
background-image:url(../icons/release.png);
background-repeat: no-repeat;
}

select.userslist {
	width:100%;
}

input.nbfilter {
	text-align:center;
	width:170px;
}

input.inputURL {
	width:80%;
}

#export-log {
	float: right;
	padding: 0.5em;
	margin-left: 10px;
	width: 300px;
	border: 1px solid #d6d6d6;
	border-left-color: #e4e4e4;
	border-top-color: #e4e4e4;
	margin-top: 10px;
}
 
#export_res {
	overflow: auto;
}
#export_res div.flash {
	font-size: 10px;
	width:200px;
}

#export_res p.file {
	margin-left:5px;
	padding-bottom:8px;
	padding-left:25px;
	background-image:url(../icons/download.png);
	background-repeat: no-repeat;
}
 
#export_res.ajax-loading {
	padding: 20px 0;
	background: url(../icons/spinner.gif) no-repeat center;
}
p.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
}

