@font-face {
	font-family: 'BrandonGrotesqueLightRegular';
	src: url('brandongrotesque_light/Brandon_light-webfont.eot');
	src: local('☺'),
		url('brandongrotesque_light/Brandon_light-webfont.woff') format('woff'),
		url('brandongrotesque_light/Brandon_light-webfont.ttf') format('truetype'),
		url('brandongrotesque_light/Brandon_light-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	color: #333;
	text-decoration: none;
}
div#top_image {
	width: 100%; position: relative;
	margin: 0;
	padding: 0px;
	height: 100px;
	background-color: #a2ddd7;
/*	background-image: url('../images/header.jpg');*/
	background-position: 0px -5px;
	z-index: -2;
	border-bottom: 1px solid #999;
	box-shadow: 0 5px 50px -3px #000;
	-webkit-box-shadow: 0 -5px 50px 0px #000;
	-moz-box-shadow: 0 13px 10px -10px #000;
	overflow: hidden;
}
div#top_gradient {
	position: absolute;
	height: 150px;
	width: 100%;
	margin: -5em -5em;
	background: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#FFFFFF));
	background: -moz-linear-gradient(0% 100% 90deg,#FFFFFF, #EAEAEA);
	z-index: -3;
}
div#top_logo {
	z-index: -1;
	position: absolute;
	top:0;
	left: 0;
	width: 205px;
	height: 218px;
	background-image: url('../images/planet.png');
}
div#wrap {
	margin: 0 auto;
	width: 1000px;
	padding: 5px;
}
div#header {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}
div#header > h1#title a {
	color: #333;
	text-decoration: none;
	text-shadow: 2px 0 2px #fff;
}
div#header > h1#title a:hover {
	text-decoration: none;
}
div#header h2.description {
	color: #333;
	font-size: 14px;
	font-family: 'BrandonGrotesqueLightRegular';
}

h1, span.brand { font-family: 'BrandonGrotesqueLightRegular'; }
h2             { font-size: 24px; }
span.brand     { color: #000; font-size: 2em; display: block;}

div#mainmenu {
	border-top: solid 1px #000;
	width: 100%;
	text-align: center;
}
div#mainmenu ul {
	font-family: 'BrandonGrotesqueLightRegular';
	display: inline;
	margin: 0;
	padding: 0;
	background-color: #fff;
	padding: 0 2%;
}

div#mainmenu ul > li {
	display: inline;
	font-size: 18px;
}
div#mainmenu ul > li + li { margin-left: 20px; }
div#mainmenu ul a { text-decoration: none; }
div#mainmenu ul a:hover { color: #BCFC3D; }

div#submenu {
	text-align: center;
	height: 20px;
	border: solid 1px #333;
	margin: 20px 10px;
	font-size: 12px;
	list-style: none;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
}
div#submenu ul {
	margin: 0px;
}
div#submenu li {
	display: inline;
	border-right: 1px solid #D2D6CB;
	padding: 0 20px;
}
div#submenu li:last-child {
	border-right: medium none;
	padding-right: 0px;
}
div#submenu li.selected {
	text-decoration: underline;
}

div#summary {
	margin: 20px 10px;
	padding: 10px;
	list-style: none;
}
div#summary li:hover {
	background-color: #D2D6CB;
	color: #000;
}

div#upper_navigation {
	position: relative;
	height: 30px;
	margin: 2px 0;
}
div#lower_navigation {
	position: relative;
	height: 30px;
	margin: 25px 0;
}

div.paging_previous {
	position: absolute;
	top: 0;
	left: 0;
}
div.paging_next {
	position: absolute;
	top: 0;
	right: 0
}

div.button {
	padding: 5px;
	background-color: #D2D6CB;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
}

div#content {
	padding: 10px 0 0 0;
}

div.post_title {
	margin: 20px 0 10px 0;
	padding: 5px 0 5px 0;
}
div.gravatar {
	float: left;
	margin: 20px 0 0 0;
}
.gravatar {height:40px; width:40px; background:url('../images/gravatar.png') }
div.gravatar img {
	height: 40px;
	width: 40px;
}

div.post {
	margin: 35px 0px;
}

div.post_title div.title {
	margin: 0 0 0 60px;
}
div.post_description {
	font-weight: bold;
	margin: 10px;
}

div.backtop {
	font-size: 10px;
	font-weight: bold;
	padding: 5px 7px;
	margin: 20px auto;
	width: 100px;
}

div#footer {
	position: relative;
	color: #666;
	background-color: #eaeaea;
	padding: 1em 10em 6em 10em;
	border-top: 1px #999 solid;
	text-shadow: 1px 1px 1px #fff;
	min-height: 80px;
}
div#left  {
	width: 45%;
	position: absolute;
	top: 0;
	left: 20em;
}
div#right {
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
}
div#body  {
	width: 740px;
}
div#homeright {
	float: right;
	width: 200px;
}

div#footer ul { margin: 0; padding: 0; display:inline; }
div#footer li { list-style: none; padding: 3px; }

div#footer span.footer_statement {
	display: block;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 7px;
}
div#footer a { text-decoration: none; }
div#footer h2 {
	display: block;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 7px;
}
div.flashnotice
{
background:green none repeat scroll 0 0;
border:1px solid #204000;
color:#FFFFFF;
font-size:20px;
margin:16px;
padding:5px 5px 5px 10px;
}
div.flasherror
{
background:red none repeat scroll 0 0;
border:1px solid #C00000;
color:#FFFFFF;
font-size:20px;
margin:16px;
padding:5px 5px 5px 10px;
}
ul.no_bullet {
	list-style: none;
	line-height: 18px;
}

.votes {
display:block;
float:right;
margin-top:-10px;
width:42px;
}
.vote span#imgoui {
display:block;
background:url('../images/oui.png') no-repeat;
height:18px;
width:18px;
float:left;
}
.vote span#imgnon {
float:right;
display:block;
background:url('../images/warn.png') no-repeat;
height:18px;
width:18px;
}
.avote span#imgoui {
display:block;
background:url('../images/oui-light.png') no-repeat;
height:18px;
width:18px;
float:left;
}
.avote span#imgnon {
float:right;
display:block;
background:url('../images/warn-light.png') no-repeat;
height:18px;
width:18px;
}
div.post_description div.tag-line {
    margin : 5px 5px;
}
/********************************/
/**           PAGE STATUS      **/
/********************************/
#filter-status{
position:relative;
width:180px;
font-size:11px;
padding-bottom:13px;
padding-right:21px;
text-align:left;
}
div.post_description div.tag-line {
    margin : 5px 5px;
}
span.tag {
	margin: 0px 5px;
    padding: 0px 6px 1px 6px;
	background: #edbe59;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
span.user {
	margin: 0px 5px;
    padding: 0px 6px 1px 6px;
	background: #78bf7b;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
div#filter-feed {
	background: url('../images/ico-feed.gif') no-repeat;
	padding-left : 25px;
	margin: 5px;
}
div#userMenu {
	padding: 5px 0;
	background: #000;
	color: #FFF;
	width: 100%;
	display: block;
	position: relative;
    font-family: Arial, Serif;
    font-size: 11px;
}
div#userMenu a, div#userMenu a:hover, div#userMenu a:visited {
	color: #FFF;
}
div#userMenu a:hover {
	text-decoration: underline;
}
div#popup {
	position: absolute;
	left: 64px;
	top: 22px;
	z-index: -100;
	width: 1100px;
	border: 3px solid #13678A;
	background: none repeat scroll 0 0 white;
}
div#popup .window-bar {
	overflow: auto;
	padding: 2px 5px 2px 0;
	text-align: right;
	background-color: #E3ECF3;
}
div#loginBox {
	cursor: pointer;
	display: inline-block;
	height: 10px;
	padding: 7px 15px 2px;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	margin: 0 50px;
}
div#loginBox span#login-dropdown {
	background: url('../images/sprite-icons.png') no-repeat scoll -79px -68px transparent;
	display: inline-block;
	height: 7px;
	margin-left: 1px;
	margin-top: 8px;
	vertical-align: top;
	width: 7px;
}
div#loginForm {
	background: #333;
	position: absolute;
	top: 30px;
	right: 10px;
	margin: 0 50px;
	padding: 20px;
	border: 1px solid #fff;
	-moz-box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	-webkit-box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

/*********************
* Design of the portal
* */

div#portal {
	width: 100%;
}
.portalbox {
	border-radius : 5px;
	width: 400px;
	padding: 0px;
	font-size: 0.8em;
	background-color: #FFF;
	margin: 20px 0px;
}
.portalbox .title {
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	border-radius : 5px 5px 0px 0px;
	width: 100%;
	background-color: #CCC;
}
.portalbox .title a {
	padding: 5px;
	color : #5C5C5C;
}
.portalbox .feedlink {
	float: right;
	padding: 10px 0px;
}
.portalbox .list ul{
	margin-left: 10px;
}
.portalbox .list li{
	padding: 5px 5px;
}
.leftbox{
	float:left;
}
.rightbox{
	float:right;
}
/*********************
* Design of the users page
* */

div#users {
	width: 100%;
}

div.userbox {
	display: inline-block;
	margin: 5px;
	border-radius: 2px;
	border: 1px solid #CCC;
	width: 150px;
	overflow: hidden;
	padding: 5px;
	font-size: 0.8em;
}

div.userbox img.avatar {
	margin: 0 auto;
	display: block;
}
div.userbox p {
	display: block;
	margin: 10px auto;
	text-align: center;
}
div.userbox .feedlink {
	float: right;
}
